.DS_Store

*.asv
*.m~
*.mex*
slprj/
codegen/

data/
Subjects/
outputs/
outputs_demo/

*.edf
*.EDF
*.set
*.fdt
*.bdf
*.cnt
*.mat
*.fig
*.zip
*.tar
*.gz

*.csv
*.xlsx
*.xls

*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.pdf

*.log
diary

archive_legacy_statistics/
archive_legacy_local_checks/
archive_legacy/
archive_future_connectivity_article/
